extends _layouts/master

block context
  - var title = 'Rendering Synthetic Data';

block styles
  link(rel="stylesheet", href="../bower_components/bootstrap/docs/assets/css/bootstrap.css", type="text/css")
  style.
    #info {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .popover-content {
      min-width: 180px;
    }

block extra
  div#popup(title="Feature Info")

block scripts
  script(src="../bower_components/jquery/jquery.js")
  script(src="../bower_components/bootstrap/docs/assets/js/bootstrap.min.js")
  script(src='synthetic-data.js')
