<!DOCTYPE html>
<html>
  <head>
    <title>OL3 - Tiles Galore</title>
    <link rel="stylesheet" href="ol.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/docs/assets/css/bootstrap.css" type="text/css">
    <style>
      #layers {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.75);
        padding: 0 20px 10px;
        border: 2px solid white;
        border-radius: 5px;
      }
      .ol-rotate {
        right: inherit;
        top: 4.5em;
        left: .5em;
      }
      
    </style>
  </head>
  <body>
    <div id="map" class="full"></div>
    <section ng-app="ngeo">
      <form id="layers" ng-controller="LayerCtrl">
        <fieldset>
          <legend>Layers</legend>
          <label ng-repeat="layer in layers" class="radio">
            <input type="radio" name="visibility" ng-value="layer.get(&quot;title&quot;)" ng-model="$parent.which" ng-change="toggle(layer)">{{ layer.get('title') }}
          </label>
        </fieldset>
      </form>
    </section>
    <script src="ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="tiles-galore.js"></script>
  </body>
</html>