extends _layouts/master

block context
  - var title = 'Overlays';

block styles
  link(rel="stylesheet", href="../bower_components/bootstrap/docs/assets/css/bootstrap.css", type="text/css")
  style.
    #info {
      position: absolute;
      top: 20px;
      right: 20px;
    }

block extra
  div#popup(title="Country Info")
  div#info.alert.alert-info
    button.close(data-dismiss="alert") &times;
    strong Hint: 
    span Click on the map to see a popup.

block scripts
  script(src="../bower_components/jquery/jquery.js")
  script(src="../bower_components/bootstrap/docs/assets/js/bootstrap.min.js")
  script(src='vector-interaction.js')
