/**
 * Colors.
 */
@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"), url("fonts/montserrat-regular-webfont.svg#Montserrat") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"), url("fonts/montserrat-bold-webfont.svg#Montserrat") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Italic-webfont.eot");
  src: url("fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/OpenSans-Italic-webfont.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.svg#OpenSans") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/OpenSans-LightItalic-webfont.svg#OpenSans") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Semibold-webfont.eot");
  src: url("fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Semibold-webfont.svg#OpenSans") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSans") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Bold-webfont.eot");
  src: url("fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Bold-webfont.svg#OpenSans") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/OpenSans-BoldItalic-webfont.svg#OpenSans") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/OpenSans-ExtraBold-webfont.svg#OpenSans") format("svg");
  font-weight: 800;
  font-style: normal;
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fcfcfc;
  background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #fcfcfc 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #fcfcfc 100%);
  background: -o-radial-gradient(center, circle cover, #ffffff 0%, #fcfcfc 100%);
  background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #fcfcfc 100%);
  background: radial-gradient(center, circle cover, #ffffff 0%, #fcfcfc 100%);
  background-color: #ffffff;
}
.reveal {
  font-family: "OpenSans", Verdana, sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #28728D;
}
::selection {
  color: white;
  background: #134674;
  text-shadow: none;
}
/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2 {
  font-family: "Montserrat", Verdana, sans-serif;
}
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "OpenSans", Verdana, sans-serif;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #28728D;
  line-height: 0.9em;
  letter-spacing: 0;
  text-shadow: none;
  font-weight: 300;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #00a78d;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
}
.reveal a:not(.image):hover {
  color: #4d5055;
  text-shadow: none;
  border: none;
}
.reveal .roll span:after {
  color: #fff;
  background: #264c66;
}
/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
}
.reveal section img.framed {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.reveal a:hover img.framed {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00a78d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
/*********************************************
 * CODE BLOCKS
 *********************************************/
.reveal pre code {
  padding: 15px 20px;
}
/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #00a78d;
}
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #00a78d;
}
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #00a78d;
}
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #00a78d;
}
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #4d5055;
}
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #4d5055;
}
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #4d5055;
}
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #4d5055;
}
/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
.reveal .progress span {
  background: #00a78d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
